{% extends 'base.html' %}

{% block title %}Organization Profile{% endblock %}

{% block header %}Organization Profile{% endblock %}

{% block content %}
    <h2>Organization Profile</h2>
    <ul>
        {% for organization in organizations %}
            <li>
                {{ organization.organization_name }} - {{ organization.email }} - {{ organization.username }}
                (<a href="{% url 'update_organization' pk=organization.pk %}">Update</a>)
                (<a href="{% url 'delete_organization' pk=organization.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
{% endblock %}
